body{
  margin:0;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#0f172a;
  font-family:Segoe UI,sans-serif;
  color:white;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:40px;
  border-radius:16px;
  backdrop-filter:blur(16px);
  width:320px;
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}

button{
  width:100%;
  padding:10px;
  margin-top:8px;
  border:none;
  border-radius:10px;
  background:#6366f1;
  color:white;
  cursor:pointer;
}

.secondary{background:#444}

.avatar{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:10px;
}